<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/favicon.ico" rel="icon">

  <title>Title page</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Who am I ?</h3>
                  <p>My name is Costin Dumitrescu and I am a Full Stack Software Developer from Montreal, Canada. I'm very passionate about
                  programming languages, developing websites, data science, music and traveling. From my point of view, building a website
                  is an art, therefore I always want to go above and beyond when building one. My professional goal is to enhance my
                  expertise and bring value to my prospective employer as well as developing my skills.</p>
                  <h3>Le Wagon bootcamp </h3>
                  <p>Ranked # 1 coding bootcamp worldwide on Switchup, Le Wagon prepared me with enough knowledge to land my first job
                    in the Software Development world. During my study at Le Wagon, I intensively used HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, Ruby, Ruby on Rails, Git, GitHub, Heroku, Figma, Agile, React.
                    For the final project,I was part of a team of four people with whom I have built an amazing application that will solve the pain of musicians
                    and venue owners. Working on this project was pleasure because one of my biggest hobbies/passions is writing and
                    performing music. During the two weeks that we had to build this application from scratch, I have collaborated with my
                    three team mates, helped them and worked very well as a team.

                  <h3>Professional Experience</h3>
                  <p>As a Cybersecurity student, I had the chance to be offered a job during my studies as a Full Stack Software developer in a Cybersecurity company. I had the chance to work with technologies such as
                    Python programming language, Flask framework, React.js and MongoDB.
                    For my second experience in the domain, I had the chance to work for a Startup that was building an independent movies streaming platform.
                    I was one of the first developers that created the first version of the application. I also had the chance to show my expertise in Ruby on Rails, which
                    led me to the position of team lead just after a couple of months.
                    I am currently looking for a job in the Technology industry, where I can show my value or learn something new that will challenge me to be the best.
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/eu.jpeg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Costin Dumitrescu 2021</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
